{% extends "base.html" %}

{% load thumbnail %}

{% block title %}
    О проекте &mdash;
{% endblock %}

{% block class_main %} main_grey{% endblock %}

{% block main %}
    <div class="mappy">
        <a class="btn1" href="/">Перейти к карте</a>
    </div><!--/mappy-->

    <div class="main_in">
        <div class="about">
            <div class="about_text col">
                <h1>О проекте</h1>
                <div class="text">
                    {{ about_text|safe }}
                </div>
            </div>
            <div class="about_car col">
                <h2><span>А это наш </span>автомобиль</h2>
                {{ about_car|safe }}
            </div>
        </div><!--/about-->

        {% if news %}
        <div class="timeline">
            <div class="cl"></div>
            {% for new in news %}
                <div class="timeline_new {% cycle 'timeline_r' 'timeline_l' %}{% if new.get_images or new.code_video %} timeline_media {% cycle 'timeline_media_r' 'timeline_media_l' %}{% endif %}">
                    <h3>{{ new.title }}</h3>
                    <div class="timeline_date">{{ new.date_add|date:"j E Y" }}г</div>
                    {% if not new.get_images %}
                        {% if new.code_video %}
                            <div class="timeline_video">
                                {{ new.code_video|safe }}
                            </div>
                            {% if new.text %}

                                <div class="timeline_media_more"><a href="/news/{{ new.id }}/">Читать новость</a></div>
                            {% endif %}
                        {% else %}
                            {% if new.short_text %}
                                <div class="timeline_text text">
                                    {{ new.short_text|safe }}
                                </div>
                            {% endif %}

                            {% if new.text %}
                                <div class="timeline_new_more"><a href="/news/{{ new.id }}/">Читать полностью</a></div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="timeline_photos">
                            {% for image  in new.get_three_images %}
                                {% thumbnail image.image "1000" upscale=0 as big %}
                                    {% thumbnail image.image "131x131" crop="center" as im %}
                                        <a href="{{ big.url }}" rel="{{ new.id }}" class="fancybox"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></a>
                                    {% endthumbnail %}
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                        {% if new.get_count_images > 3 %}
                            <div class="timeline_media_more"><a href="/news/{{ new.id }}/">Еще {{ new.get_count_images|add:"-3" }} фотографий</a></div>
                        {% else %}
                            <div class="timeline_media_more"><a href="/news/{{ new.id }}/">Читать новость</a></div>
                        {% endif %}
                    {% endif %}

                    <div class="timeline_arr"></div>
                    <div class="timeline_point"></div>
                </div>
            {% endfor %}

            <div class="cl"></div>

            <div class="more_news"><a href="#">Больше новостей</a></div>
        </div><!--/timeline-->
        {% endif %}

    </div><!--/main_in-->
{% endblock %}

