{% load pytils_numeral %}
<div class="map_popup">
    <div style="display: none;">{{ point.id }}</div>
	<div class="map_popup_info">
		<table class="map_popup_info_table map_popup_info_table_1p">
			<thead>
				<tr>
					<th class="map_popup_op map_popup_op_3gspeed"><img src="/media/img/3gspeed_zs.png" alt="" /></th>
                    {% for operator in operators %}
                        <th class="map_popup_op"><img src="{{ operator.icon.url }}" width="35px" height="35px" alt="op_{{ operator.id }}" /> {{ operator.title }}</th>
                    {% endfor %}
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="map_popup_info_label">Скорость, <div>Мбит/с</div></td>
                    {% for operator in operators %}
                        <td class="map_popup_info_val"><div>{{ operator.avg_speed }}</div></td>
                    {% endfor %}
				</tr>
				<tr>
					<td class="map_popup_info_label">Тип модема</td>
                    {% for operator in operators %}
                        {% for pt_speed in operator.point_spd_set %}
                            {% if forloop.first %}
                                <td class="map_popup_info_type_val"><di>{{ pt_speed.modem_type__download_speed }}</div></td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
				</tr>
			</tbody>
		</table>
	</div><!--/map_popup_info-->

    <div class="map_popup_ics">
        {% for ability in abilities %}
            <span style="background-image: url('{{ ability.icon.url }}')"  title="{{ ability.title|title }}"></span>
        {% endfor %}
    </div>

	<div class="map_popup_qty">{{ point.datetime_create|date:'j E Y' }}</div>

	<div class="map_popup_close"></div>
</div><!--/map_popup-->
