{% load thumbnail siteblocks_extras %}
{% if operators %}
<div class="stats_block">
    <div class="main_in">
    <div class="op_stats">
        <div class="op_stats_labels">
            <span>Cредняя скорость</span>
            <span>Максимальная скорость</span>
        </div>
        {% for operator in operators %}
            <div class="op_stat">
                <div class="op_stat_logo"><img src="{{ operator.icon.url }}" width="35" height="35" alt="" /></div>
                <div class="op_stat_name">{{ operator.title }}</div>
                <div class="counter{% if operator.max_avg %} counter_green{% endif %}">
                    <div class="counter_val">{{ operator.curr_city_avg_speed|formatted_float }}</div>
                    <div class="counter_glass"></div>
                </div>
                <div class="counter{% if operator.max_max %} counter_green{% endif %}">
                    <div class="counter_val">{{ operator.curr_city_max_speed|formatted_float }}</div>
                    <div class="counter_glass"></div>
                </div>
                <div class="op_stat_lnk"><a href="/?city_id={{ city_curr.id }}&op_id={{ operator.id }}&point_id={{ operator.point_id }}">Перейти на карту</a></div>
            </div>
        {% endfor %}
        <div class="op_stats_units">
            <span>Мбит/c</span>
            <span>Мбит/c</span>
        </div>
    </div><!--/op_stats-->
    </div><!--/main_in-->

    <div class="h_line"><h2>По типу модема</h2></div>

    <div class="main_in">
    <div class="modem_stats">
        <table>
            <thead>
                <tr>
                    <th class="modem_type"></th>
                    {% for city_mtype in city_mtypes_max_val_set %}
                        <th class="modem_type_val">{{ city_mtype.type|floatformat }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for operator in operators %}
                    <tr>
                        <td class="col_op"><img src="{{ operator.icon.url }}" width="35" height="35" alt="" /> <span>{{ operator.title }}</span></td>
                        {% for city_mtype in city_mtypes_max_val_set %}
                            {% for mtype_avg in operator.mtype_avg_set %}
                                {% if mtype_avg.id_mtype|floatformat == city_mtype.type|floatformat %}
                                    <td class="operator_{{ operator.id }}">
                                        <div class="bar_line{% if city_mtype.value == mtype_avg.mtype_avg_value %} bar_line_active{% else %} bar_line_inactive{% endif %} ">
                                            {% comment %}<div class="bar1 bar1_meg" style="width: {% if mtype_avg.max_avg_mtype %}{% if mtype_avg.mtype_avg_value == 0 %} 1{% else %} 118{% endif %}{% else %}{% if mtype_avg.avg_pos == 0 %}1{% else %}{{ mtype_avg.avg_pos|floatformat:0 }}{% endif %}{% endif %}px;"></div>{% endcomment %}
                                            <div class="bar1 bar1_meg" style="width: {% if mtype_avg.avg_pos == 0 %}1{% else %}{{ mtype_avg.avg_pos|floatformat:0 }}{% endif %}px;"></div>
                                            <div class="bar_val">{{ mtype_avg.mtype_avg_value|formatted_float }} <div>Мбит/с</div></div>
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div><!--/modem_stats-->

        <div class="measurements_qty">
        <table cellspacing="0">
            <thead>
                <tr>
                    <th rowspan="2" class="measurements_qty_interval_th">Интервалы скорости <br />(Мбит/с)</th>
                    <th colspan="3" class="measurements_qty_qty">Количество измерений</th>
                    <th rowspan="2" class="measurements_total_interval_th">Всего измерений</th>
                </tr>
                <tr>
                    {% for operator in operators %}
                        <th class="measurements_op measurements_op_l"><img src="{{ operator.icon.url }}" width="35" height="35" alt="" /></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for interval in interval_array %}
                <tr>
                    <td class="measurements_qty_interval">{{ interval.min|formatted_float }} - {{ interval.max|formatted_float }}
                        {% if forloop.last %}+{% endif %}
                    </td>
                    {% for op_cnt in interval.pts_count_op %}
                        <td class="measurements_qty_val">{{ op_cnt }}</td>
                    {% endfor %}
                    <td class="measurements_qty_val">{{ interval.pts_count_city }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!--measurements_qty-->
    </div><!--/main_in-->
</div>
{% else %}
<div class="stats_block">
    <div class="h_line"><h2>Нет статистики по данному городу</h2></div>
</div>
{% endif %}
