{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}

{% block title %}
    Статистика &mdash;
{% endblock %}

{% block extended_js %}
    <script type="text/javascript">
    $(".select_drop li a").live('click', function(){
        var el = $(this)
        var parent = el.parents('div.select')
        var select_curr_div = parent.find('.select_curr')
        var select_curr_div_val = select_curr_div.html().replace("<div></div>","")
        if (select_curr_div_val != 'Район')
            {
                el.parents('ul').prepend('<li><a href="#" name="'+select_curr_div.attr('name')+'">' + select_curr_div_val + '</a></li>');
            }
        else
            {
                el.parents('ul').prepend('<li><a href="#" name="all">Все районы</a></li>');
            }

        select_curr_div.html(el.html()+'<div></div>');
        select_curr_div.attr('name',el.attr('name'));
        el.parent().remove()
        parent.toggleClass("select_dropped");

        if (parent.is('.stat_city'))
            {
            // подгружаем районы города
            var id = el.attr('name')
                $.ajax({
                    url: "/load_city_distincts/",
                    data: {
                        id_city:id
                    },
                    type: "POST",
                    success: function(data) {
                        $('div.stat_distinct').html('<div class="select_curr" name="all">Район<div></div></div><div class="select_drop"><ul>'+ data +'</ul></div>')
                    },
                    error:function(jqXHR,textStatus,errorThrown) {
                        $('div.stat_distinct').html('<div class="select_curr" name="all">Район<div></div></div><div class="select_drop"><ul></ul></div>')
                    }
                });
            }
        return false;
    });
    </script>
{% endblock %}

{% block main %}
    <div class="mappy">
        <a class="btn1" href="/">Перейти к карте</a>
    </div><!--/mappy-->

    <div class="overall">
        <div class="main_in">
            <h2>Общая статистика</h2>

            <div class="select stat_city">
                {% if cities != False %}
                    <div class="select_curr" name="{{ city_curr.id }}">{{ city_curr.title }}<div></div></div>
                    {% if cities %}
                        <div class="select_drop">
                            <ul>
                                {% for city in cities %}
                                    <li><a href="#" name="{{ city.id }}">{{ city.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="select stat_distinct">
                {% if distincts != False %}
                <div class="select_curr" name="all">Район<div></div></div>
                <div class="select_drop">
                    <ul>
                        {% for distinct in distincts %}
                            <li><a href="#" name="{{ distinct.id }}">{{ distinct.title|truncatewords:2 }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

            <div class="average">
                <span class="average_label">Средняя скорость по городу</span>
                <span class="average_val">{{ curr_city_avg_speed }} <span class="average_mbs">Мбит/с</span></span>
                <div class="average_arr"></div>
            </div>
        </div><!--/main_in-->
    </div><!--/overall-->

    {% include 'workpoint/stats_block.html' %}
{% endblock %}

