{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}

{% block title %}
    Статистика &mdash;
{% endblock %}

{% block extended_js %}
    <link href="/media/css/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
    <script src="/media/js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
    <script src="/media/js/stats.js" type="text/javascript"></script>
{% endblock %}

{% block main %}
    <div class="mappy">
        <a class="btn1" href="/">Перейти к карте</a>
    </div><!--/mappy-->

    <div class="overall">
        <div class="main_in">
            <h2>Общая статистика</h2>

            <div class="select stat_city">
                {% if cities != False %}
                    <div class="select_curr" name="{{ city_curr.id }}">{{ city_curr.title }}<div></div></div>
                    {% if cities %}
                        <div class="select_drop">
                            <ul>
                                {% for city in cities %}
                                    <li><a href="#" name="{{ city.id }}">{{ city.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="select stat_distinct">
                {% if distincts != False %}
                {% comment %}<div class="select_curr" name="0">Улица<div></div></div>
                <div class="select_drop">
                    <ul>
                        {% for distinct in distincts %}
                            <li><a href="#" name="{{ distinct.id }}">{{ distinct.title|truncatewords:2 }}</a></li>
                        {% endfor %}
                    </ul>
                </div>{% endcomment %}
                <select class="combobox">
                    <option value="" selected="selected">---------</option>
                    <option value="0">Все улицы</option>
                    {% for distinct in distincts %}
                        <option value="{{ distinct.id }}">{{ distinct.title }}</option>
                    {% endfor %}
                </select>
                {% endif %}
            </div>
            {% if curr_city_avg_speed %}
                <div class="average">
                    <span class="average_label">Средняя скорость по городу</span>
                    <span class="average_val">{{ curr_city_avg_speed }} <span class="average_mbs">Мбит/с</span></span>
                    <div class="average_arr"></div>
                </div>
            {% else %}
                <div class="average">
                    <span class="average_label">Нет статистики по данному городу</span>
                    <div class="average_arr"></div>
                </div>
            {% endif %}

        </div><!--/main_in-->
    </div><!--/overall-->
    {% include 'workpoint/stats_block.html' %}
{% endblock %}

