{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}

{% block title %}
    Главная &mdash;
{% endblock %}

{% block extended_js %}
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript">
    $(function(){

        ymaps.ready(function () {
            {% if city_curr %} // если выбран текущий город, то ставин карту в его центр
                var map = new ymaps.Map("map",
                    {
                        center: [{{ city_curr.coord }}],
                        zoom: 14,
                        type: "yandex#map"
                    }
                );
                map.controls.add("zoomControl");
            {% else %} // в противном случае ставим центр в СПб
                var map = new ymaps.Map("map",
                    {
                        center: [59.930879,30.329349],
                        zoom: 14,
                        type: "yandex#map"
                    }
                );
                map.controls.add("zoomControl");
            {% endif %}

            // Создаем коллекцию, в которую будем добавлять метки
            pointsSet = new ymaps.GeoObjectCollection();

            {% for point in points %}
                var point_{{ point.id }} = new ymaps.Placemark([{{ point.coord }}],
                    {
                        balloonContent: '',
                        point_id: '{{ point.id }}',
                        city_id: '{{ city_curr.id }}'
                    },
                    {
                        // Не скрывать иконку метки при открытии балуна
                        hideIconOnBalloonOpen: false,
                        openBalloonOnClick: false,
                        // Изображение иконки метки
                        iconImageHref: '{{ point.get_abilitiy_icon }}',
                        // Задаем макет балуна - пользовательская картинка с контентом
                        balloonLayout: "default#imageWithContent",
                        // Размеры содержимого балуна
                        balloonContentSize: [360, 300],
                        // Смещение картинки балуна
                        balloonImageOffset: [-191, -305],
                        // Балун не имеет тени
                        balloonShadow: false
                    }
                );
                pointsSet.add(point_{{ point.id }});


                //map.geoObjects.add(point_{{ point.id }});
/*                point_{{ point.id }}.events.add('balloonopen', function () {
                    //point_{{ point.id }}.options.set('openBalloonOnClick', false);


                    //point_{{ point.id }}.options.set('iconImageHref', '/media/img/map_ic0.png'); // - изменение иконки маркера

                    //point_{{ point.id }}.balloon.open();

                    //var point_id = {{ point.id }}
                    //alert(point_{{ point.id }}.properties.get('balloonContent'))
                    //alert(point_{{ point.id }}.balloon.isOpen())

                });*/

            {% endfor %}

/*            pointsSet.events.add('click', function (item) {
                alert(item.balloon.isOpen())
            });*/

            {% for city in cities %}
                {% for point in city.get_points %}
                    var point_{{ point.id }} = new ymaps.Placemark([{{ point.coord }}],
                        {
                            balloonContent: '',
                            point_id: '{{ point.id }}',
                            city_id: '{{ city.id }}'
                        },
                        {
                            // Не скрывать иконку метки при открытии балуна
                            hideIconOnBalloonOpen: false,
                            openBalloonOnClick: false,
                            // Изображение иконки метки
                            iconImageHref: '{{ point.get_abilitiy_icon }}',
                            // Задаем макет балуна - пользовательская картинка с контентом
                            balloonLayout: "default#imageWithContent",
                            // Размеры содержимого балуна
                            balloonContentSize: [360, 300],
                            // Смещение картинки балуна
                            balloonImageOffset: [-191, -305],
                            // Балун не имеет тени
                            balloonShadow: false
                        }
                    );
                    pointsSet.add(point_{{ point.id }});
                {% endfor %}
            {% endfor %}

            // Добавляем коллекцию геообъектов на карту.
            map.geoObjects.add(pointsSet);

            pointsSet.each(function (item) {
                    item.events.add('click', function () {
                        var curr_city =  $('div.map_city_select div.select_curr').html().replace("<div></div>","")
                        var curr_op = $('div.map_op_select div.select_curr').html().replace("<div></div>","")
                        var curr_mtype =$('div.map_modem_select div.select_curr').html().replace("<div></div>","")

                        if(item.balloon.isOpen()) {
                            item.balloon.close();
                        }
                        else {
                            item.balloon.open();
                        }
                        var id_point = item.properties.get('point_id')
                        $.ajax({
                                url: "/load_balloon_content/",
                                data: {
                                    id_point:id_point,
                                    op_title:curr_op,
                                    mdm_type:curr_mtype
                                },
                                type: "POST",
                                success: function(data) {
                                    item.properties.set('balloonContent', data)
                                }
                            });
                    })
            });

            $('.map_popup_close').live('click', function(){
                map.balloon.close()
            });

            map.events.add('click', function (item) {
                map.balloon.close()
            });


            $(".select_drop li a").live('click', function(){
        		var el = $(this)
                var parent = el.parents('div.select')
                var select_curr_div = parent.find('.select_curr')
                var select_curr_div_val = select_curr_div.html().replace("<div></div>","")
                if ((select_curr_div_val != 'Оператор') && (select_curr_div_val != 'Тип модема'))
                    {
                        if (parent.is('.map_city_select'))
                            {el.parents('ul').prepend('<li><a href="#" name="'+select_curr_div.attr('name')+'">' + select_curr_div_val + '</a></li>');}
                        else
                            {el.parents('ul').prepend('<li><a href="#">' + select_curr_div_val + '</a></li>');}
                    }
                else
                    {if (select_curr_div_val == 'Тип модема')
                        {
                            el.parents('ul').prepend('<li><a href="#">Все</a></li>');
                        }
                    }
                select_curr_div.html(el.html()+'<div></div>')
                if (parent.is('.map_city_select'))
                    {select_curr_div.attr('name',el.attr('name'))}
                else
                    {}
                el.parent().remove()
                parent.toggleClass("select_dropped");


                var curr_city =  $('div.map_city_select div.select_curr').html().replace("<div></div>","")
                var curr_op = $('div.map_op_select div.select_curr').html().replace("<div></div>","")
                var curr_mtype =$('div.map_modem_select div.select_curr').html().replace("<div></div>","")

                if (parent.is('.map_city_select'))
                    {
                    var coords = select_curr_div.attr('name')
                    var city_param_array = coords.split('|')
                    coords_array = city_param_array[0].split(',')
                    map.panTo([parseFloat(coords_array[0]),parseFloat(coords_array[1])], {flying: true});
                    //вытащим плашку со средней скоростью
                    $.ajax({
                        url: "/load_stat_city_div/",
                        data: {
                            city_title:curr_city,
                            type:'avg'
                        },
                        type: "POST",
                        success: function(data) {
                            $('div.avg_speed').replaceWith(data)
                        }
                    });
                    //вытащим плашку с максимальной скоростью
                    $.ajax({
                        url: "/load_stat_city_div/",
                        data: {
                            city_title:curr_city,
                            type:'max'
                        },
                        type: "POST",
                        success: function(data) {
                            $('div.max_speed').replaceWith(data)
                        }
                    });
                    //вытащим плашку с количеством точек по городу
                    $.ajax({
                        url: "/load_stat_city_div/",
                        data: {
                            city_title:curr_city,
                            type:'count'
                        },
                        type: "POST",
                        success: function(data) {
                            $('div.pt_count').replaceWith(data)
                        }
                    });
                    }

                if ((parent.is('.map_op_select')) || (parent.is('.map_modem_select')))
                    {
                        map.geoObjects.each(function (collection) {
                            collection.each(function (item) {
                                var id_point = item.properties.get('point_id')
                                collection.remove(item)
                                $.ajax({
                                    url: "/load_point_marker/",
                                    data: {
                                        id_point:id_point,
                                        op_title:curr_op,
                                        mdm_type:curr_mtype
                                    },
                                    type: "POST",
                                    success: function(data) {
                                        item.options.set('iconImageHref', data);
                                        collection.add(item)
                                    }
                                });
                            });
                        });
                    }

                return false;
        	});

        });
    });
    </script>
{% endblock %}

{% block main %}
    <div class="index_map_out">
        <div class="index_map">
            <div class="map" id="map">
            </div><!--/map-->

            <div class="map_ctrls">
                {% if cities != False %}
                    <div class="map_city_select select">
                        <div class="select_curr" name="{{ city_curr.coord }}|{{ city_curr.id }}">{{ city_curr.title }}<div></div></div>
                        {% if cities %}
                            <div class="select_drop">
                                <ul>
                                    {% for city in cities %}
                                        <li><a href="#" name="{{ city.coord }}|{{ city.id }}">{{ city.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if operators %}
                <div class="map_op_select select">
                    <div class="select_curr">Оператор<div></div></div>
                    <div class="select_drop">
                        <ul>
                            <li><a href="#">Все</a></li>
                            {% for operator in operators %}
                                <li><a href="#">{{ operator.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if mtypes %}
                    <div class="map_modem_select select">
                        <div class="select_curr">Тип модема<div></div></div>
                        <div class="select_drop">
                            <ul>
                                {% for type in mtypes %}
                                    <li><a href="#">{{ type.download_speed|floatformat }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="map_fullscreen" title="Во весь экран"></div>
            </div><!--/map_ctrls-->

            <div class="map_filter">
                <div class="map_filter_in">

                    <div class="map_slider_ics">
                        {% for ability in abilities %}
                            <span class="map_slider_active" title="{{ ability.title|title }}" style="left: {{ ability.get_filter_position|floatformat:0 }}px; background-image: url('{{ ability.icon.url }}')"></span>
                        {% endfor %}
                    </div><!--/map_slider_ics-->

                    <div id="map_slider">
                    </div>

                    <div class="map_slider_scale">
                        <ul>
                            <li>0</li>
                            <li>0.2</li>
                            <li>0.4</li>
                            <li>0.6</li>
                            <li>0.8</li>
                            <li>1.0</li>
                            <li>1.2</li>
                            <li>1.4</li>
                            <li>1.6</li>
                            <li>1.8</li>
                            <li>2.0</li>
                            <li>2.2</li>
                            <li>2.4</li>
                            <li>2.6</li>
                            <li>2.8</li>
                            <li>3.0</li>
                            <li class="map_slider_scale_last">(Мбит/с)</li>
                        </ul>
                    </div><!--/map_slider_scale-->
                </div><!--/map_filter_in-->

                <div class="filter_toggle filter_toggle_hide"></div>
                <!--<div class="filter_toggle filter_toggle_show"></div>-->
            </div><!--/map_filter-->
        </div><!--/index_map-->
    </div><!--/index_map_out-->

    <div class="main_in">
        <div class="index_calcs">
            <div class="index_calcs_in">
                <div class="index_calc col avg_speed">
                    <h2>Средняя скорость&nbsp;3G</h2>
                    {% for operator in operators  %}
                        <div class="bar_line {% if operator.max_avg %}bar_line_active{% else %}bar_line_inactive{% endif %}">
                            <div class="bar_logo"><img src="{{ operator.icon.url }}" width="31px" height="31px"  alt="" /></div>
                            <div class="bar1 bar1_mts" style="width: {% if operator.max_avg %}140{% else %}{{ operator.curr_city_avg_speed_pos|floatformat:0 }}{% endif %}px;"></div>
                            <div class="bar_val">{{ operator.curr_city_avg_speed|formatted_float }} <div>Мбит/с</div></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="index_calc col max_speed">
                    <h2>Максимальная скорость&nbsp;3G</h2>
                    {% for operator in operators  %}
                        <div class="bar_line {% if operator.max_max %}bar_line_active{% else %}bar_line_inactive{% endif %}">
                            <div class="bar_logo"><img src="{{ operator.icon.url }}" width="31px" height="31px" alt="" /></div>
                            <div class="bar2 bar2_mts" style="width: {% if operator.max_max %}140{% else %}{{ operator.curr_city_max_speed_pos|floatformat:0 }}{% endif %}px;"></div>
                            <div class="bar_val">{{ operator.curr_city_max_speed|formatted_float }} <div>Мбит/с</div></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="index_calc col pt_count">
                    <h2>Количество замеров</h2>
                    <div class="measure_qty">{{ curr_city_pts_count }}</div>
                    <div class="measure_label">замеров скорости интернета в Санкт-Петербурге</div>
                    <div class="measure_all"><a href="/statistic/">Вся статистика</a></div>
                </div>
            </div>
        </div><!--/index_calcs-->

        <div class="index_news col">
            {% if news %}
                <h2>Последние новости</h2>
                {% for new in news %}
                    <div class="index_new">
                        <div class="index_new_date">{{ new.date_add|date:"j E" }}, {{ new.date_add|date:"l"|lower }}</div>
                      <h3><a href="/news/{{ new.id }}/">{{ new.title }}</a></h3>
                        <div class="index_new_short"><p>{{ new.short_text|safe }}</p></div>
                    </div>
                {% endfor %}
                <div class="index_news_more"><a href="#">Больше новостей</a></div>
            {% endif %}
        </div><!--/index_news-->

        <div class="short_about col">
            <h2>Коротко о нашем проекте</h2>
            <div class="text">
                {{ about_text|safe }}
                <p><a href="/about/">Узнать больше</a></p>
            </div>
        </div>
    </div><!--/main_in-->
{% endblock %}

