{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}

{% block title %}
    Главная &mdash;
{% endblock %}

{% block extended_js %}
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU" type="text/javascript"></script>
    <script src="/media/js/map.js" type="text/javascript"></script>
{% endblock %}

{% block main %}
    <div class="index_map_out">
        <div class="index_map">
            <div class="map" id="map">
            </div><!--/map-->

            <div class="map_ctrls">
                {% if cities != False %}
                    <div class="map_city_select select">
                        <div class="select_curr" name="{{ city_curr.coord }}|{{ city_curr.id }}">{{ city_curr.title }}<div></div></div>
                        {% if cities %}
                            <div class="select_drop">
                                <ul>
                                    {% for city in cities %}
                                        <li><a href="#" name="{{ city.coord }}|{{ city.id }}">{{ city.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if operators %}
                <div class="map_op_select select">
                    <div class="select_curr">{% if op_curr %}{{ op_curr.title }}{% else %}Оператор{% endif %}<div></div></div>
                    <div class="select_drop">
                        <ul>
                            <li><a href="#">Все</a></li>
                            {% for operator in operators %}
                                {% if op_curr.id != operator.id %}
                                    <li><a href="#">{{ operator.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if mtypes %}
                    <div class="map_modem_select select">
                        <div class="select_curr">Тип модема<div></div></div>
                        <div class="select_drop">
                            <ul>
                                {% for type in mtypes %}
                                    <li><a href="#">{{ type.download_speed|floatformat }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="map_fullscreen" title="Во весь экран"></div>
            </div><!--/map_ctrls-->
            <div class="map_preload"><div class="preloader"></div></div>
            <div class="map_filter">
                <div class="map_filter_in">

                    <div class="map_slider_ics">
                        {% for ability in abilities %}
                            <span class="map_slider_active" title="{{ ability.title|title }}" style="left: {{ ability.get_filter_position|floatformat:0 }}px; background-image: url('{{ ability.icon.url }}')"></span>
                        {% endfor %}
                    </div><!--/map_slider_ics-->

                    <div id="map_slider">
                    </div>

                    <div class="map_slider_scale">
                        <ul>
                            <li>0</li>
                            <li>0.2</li>
                            <li>0.4</li>
                            <li>0.6</li>
                            <li>0.8</li>
                            <li>1.0</li>
                            <li>1.2</li>
                            <li>1.4</li>
                            <li>1.6</li>
                            <li>1.8</li>
                            <li>2.0</li>
                            <li>2.2</li>
                            <li>2.4</li>
                            <li>2.6</li>
                            <li>2.8</li>
                            <li>3.0</li>
                            <li class="map_slider_scale_last">(Мбит/с)</li>
                        </ul>
                    </div><!--/map_slider_scale-->
                </div><!--/map_filter_in-->

                <div class="filter_toggle filter_toggle_hide"></div>
                <!--<div class="filter_toggle filter_toggle_show"></div>-->
            </div><!--/map_filter-->
        </div><!--/index_map-->
    </div><!--/index_map_out-->

    <div class="main_in">
        <div class="index_calcs">
            <div class="index_calcs_in">
                <div class="index_calc col avg_speed">
                    <h2>Средняя скорость&nbsp;3G</h2>
                    {% for operator in operators  %}
                        <div class="bar_line operator_{{ operator.id }} {% if operator.max_avg %}bar_line_active{% else %}bar_line_inactive{% endif %}">
                            <div class="bar_logo"><img src="{{ operator.icon.url }}" width="31px" height="31px"  alt="" /></div>
                            <div class="bar1 bar1_mts" style="width: {% if operator.max_avg %}140{% else %}{{ operator.curr_city_avg_speed_pos|floatformat:0 }}{% endif %}px;"></div>
                            <div class="bar_val">{{ operator.curr_city_avg_speed|formatted_float }} <div>Мбит/с</div></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="index_calc col max_speed">
                    <h2>Максимальная скорость&nbsp;3G</h2>
                    {% for operator in operators  %}
                        <div class="bar_line operator_{{ operator.id }} {% if operator.max_max %}bar_line_active{% else %}bar_line_inactive{% endif %}">
                            <div class="bar_logo"><img src="{{ operator.icon.url }}" width="31px" height="31px" alt="" /></div>
                            <div class="bar2 bar2_mts" style="width: {% if operator.max_max %}140{% else %}{{ operator.curr_city_max_speed_pos|floatformat:0 }}{% endif %}px;"></div>
                            <div class="bar_val">{{ operator.curr_city_max_speed|formatted_float }} <div>Мбит/с</div></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="index_calc col pt_count">
                    <h2>Количество замеров</h2>
                    <div class="measure_qty">{{ curr_city_pts_count }}</div>
                    <div class="measure_label">замеров скорости интернета в Санкт-Петербурге</div>
                    <div class="measure_all"><a href="/statistic/?city={{ city_curr.id }}">Вся статистика</a></div>
                </div>
            </div>
        </div><!--/index_calcs-->

        <div class="index_news col">
            {% if news %}
                <h2>Последние новости</h2>
                {% for new in news %}
                    <div class="index_new">
                        <div class="index_new_date">{{ new.date_add|date:"j E" }}, {{ new.date_add|date:"l"|lower }}</div>
                      <h3><a href="/news/{{ new.id }}/">{{ new.title }}</a></h3>
                        <div class="index_new_short"><p>{{ new.short_text|safe }}</p></div>
                    </div>
                {% endfor %}
                <div class="index_news_more"><a href="#">Больше новостей</a></div>
            {% endif %}
        </div><!--/index_news-->

        <div class="short_about col">
            <h2>Коротко о нашем проекте</h2>
            <div class="text">
                {{ about_text|safe }}
                <p><a href="/about/">Узнать больше</a></p>
            </div>
        </div>
    </div><!--/main_in-->
<input id="mapCenter" type="hidden" value="{{ city_curr.coord }}" />
{% endblock %}

